<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}"></title>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- For Login Page (Glassmorphism effect) -->
    <style>
      .glass-morphism {
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
      }
    </style>
  </head>
</html>
